/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  max-height: 100%;
  
}

body {
  /* Margin bottom by footer height */
  display: flex;
  justify-content: center;
  text-align: center; 
  height: 100%;
  margin: 0px;
  padding-left:5%;
}

.cover-container{
    max-width:42em;
    text-align:center;
}

.cover{
    padding: 0 1.5rem;
}


.footer {
  position: absolute;
  bottom: 0;
  margin-bottom:0px;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
