@{
    ViewData["Title"] = "Snap!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center h-75 pb-auto">
    <div class="card border-light mb-2 mt-5 border-4 bg-gradient">
        @*<h1 class="display-4 text-white bg-light mt-2 font-weight-bold">Online Multiplayer Cards Game</h1>*@
            <div class="card-body bg-gradient pt-4 text-center">
                <img src="~/img/snap-img.png" class="card-img h-50 w-75 display-block"/>
                <div class="mb-0">
                    <button type="button" class="btn btn-outline-light">Start New Game</button>
                </div>
            </div>
    </div>
</div>
